body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  background-image: url(https://wallpapers.com/images/featured/movie-background-4saldhgir0h87q13.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 1rem;
}

.container {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

input[type="text"] {
  padding: 10px;
  width: 70%;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

#movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 20px;
}

.movie-card {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.movie-card img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  filter: hue-rotate(10deg) brightness(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  filter: hue-rotate(90deg); 
  cursor: pointer;

}

#searchBtn:hover{
  font-size: 20px;
  background-color: lightblue;
  font-style: ;
}


